<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/devraj.kumawat.334839"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/_.official._kumawat90/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/devraj-kumawat-302289271/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        
        </div>
        <div class="f-info-brand">&copy; WanderInn Pvt Ltd. &hearts;</div>
        <div class="f-info-brand">&copy; Created by Devraj Kumawat &hearts;</div>
        

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>